<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record model="ir.actions.act_window" id="menu_database_purify">
        <field name="name">Database Purify</field>
        <field name="res_model">purify.purge</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_database_purify" action="menu_database_purify"
              parent="base.menu_custom"/>
</odoo>
