.pos .popup .count {
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    background-color: #920d92;
    width: 30px;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}
