// ensure image always inside parent divs
.ris-header {
    div {
        height: 100%;
    }

    img {
        max-height: 100%;
    }
}

.ris-page {
    font-size: 11px;
}

@mixin ris-basetable-mixin {
    width: 100%;
    max-width: 100%;
    margin-top: 3px;
}

.ris-basetable {
    @include ris-basetable-mixin;
}

.ris-table-1 {
    @include ris-basetable-mixin;
    margin-bottom: 5px;
}

.ris-table-1 .customer_address {
    vertical-align: top;
}

.ris-table-2 {
    @include ris-basetable-mixin;
}

.ris-table0 {
    @include ris-basetable-mixin;
    border-bottom: 1px solid #0d9697;
}

.ris-table1 {
    @include ris-basetable-mixin;
}

.ris-table2 {
    @include ris-basetable-mixin;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.ris-table3 {
    @include ris-basetable-mixin;
}
