<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright NuoBiT Solutions, S.L. (<https://www.nuobit.com>)
     Eric Antones <eantones@nuobit.com>
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl) -->
<odoo>
    <menuitem
        id="account_invoice_batch_menu"
        name="Invoice batches"
        parent="account.menu_finance_receivables"
        action="account_invoice_batch_action"
        sequence="100"
    />
</odoo>
