//@font-face {
//  font-family: 'Expressway';
//  src: local('Expressway'), local('Expressway'), url('/account_invoice_report_service/static/src/fonts/expressway rg.ttf') format('truetype');
//}

.rid-page {
  //font-family: 'Expressway';
  font-size: 11px;
}

.rid-basetable {
  width: 100%;
  max-width: 100%;
  margin-top: 3px;
}

.rid-table-1 {
  .rid-basetable;
  margin-bottom: 5px;
}

.rid-table-2 {
  .rid-basetable;
}

.rid-table0 {
  .rid-basetable;
  border-bottom: 1px solid #291a63;
}

.rid-table1 {
  .rid-basetable;
}

.rid-table2 {
  .rid-basetable;
}

.rid-table2 > tbody > tr.rid-tr2-order-header > td {
  border-bottom: 1px solid rgb(221, 221, 221);

}

.rid-table3 {
  .rid-basetable;
}

.rid-table3 > tbody > tr:not(:last-child) > td {
  padding-bottom: 5px;
}

.units {
  font-size: 9px;
}
