//@font-face {
//  font-family: 'Expressway';
//  src: local('Expressway'), local('Expressway'), url('/account_invoice_report_service/static/src/fonts/expressway rg.ttf') format('truetype');
//}

.sprdn-page {
  //font-family: 'Expressway';
  //font-size: 11px;
}

.sprdn-basetable {
  width: 100%;
  max-width: 100%;
  //margin-top: 3px;
}

.sprdn-table-1 {
  .sprdn-basetable;
  margin-bottom: 5px;
}

.sprdn-table-1 .customer_address {
  vertical-align: top;
}

.sprdn-table-2 {
  .sprdn-basetable;
}

.sprdn-table0 {
  .sprdn-basetable;
}

.sprdn-table1 {
  .sprdn-basetable;
}

.sprdn-table2 {
  .sprdn-basetable;
  //border-bottom: 1px solid rgb(221, 221, 221);
}

.sprdn-table3 > thead > tr > th {
  border: none;
}

.sprdn-table3 > tbody > tr:first-child > td {
  border-top: 1px solid #291a63;
}


//table, th, td {
//  border: 1px solid green;
//}