.font-size75 {
    font-size: 75%;
}
.font-size50 {
    font-size: 50%;
}

.page-container {
    width: 100%;
    height: 100%;
    page-break-before: always;
}

.label-container {
    display: flex;
    flex-direction: column;
}

.barcode-row {
    display: flex;
    justify-content: space-between;
}

.barcode-details {
    padding-left: 10px;
    font-size: small;
}

.barcode-data {
    padding-top: 3%;
    box-sizing: border-box;

    .barcode-data-row {
        p {
            margin: 0;
            padding: 0;
        }
    }
}
